@import "../palette.scss";
@import "../index.scss";


.header {
  height: $header-height;
  width: 100%;
  border-bottom: 1px solid $surface0;
  box-sizing: border-box;
  background-color: $mantle;
  display: flex;
  justify-content: space-between;
}

.left, .right {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 10px;
}

.right {
  gap: 5px;
}

.search {
  margin-left: 10px;
}

.search > input {
  background-color: $base;
  outline: none;
  border: 1px solid transparent;
  color: $subtext1;
  padding: 4px 10px;
  border-radius: 5px;
  transition: border 0.15s;
  font-size: 15px;
  width: 30vw;
  min-width: 300px;

  &:focus {
    border: 1px solid $mauve;
  }
}

.box_icon {
  padding: 4px;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.15s;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid transparent;

  &:not(.disabled) {
    cursor: pointer;
  }

  &:not(.disabled):hover {
    border: 1px solid $mauve;
  
    svg {
      color: $text;
    }
  }

  svg {
    color: $overlay0;
    font-size: 27px;
    transition: all 0.15s;
  }

  &:not(.disabled) svg {
    color: $subtext0 !important;
  }
}
